<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Journey Admin Staging.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>272</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DBBB20CEFE515C9B2C482074758248FA286E4A92</string>
				<key>dateExpires</key>
				<string>03.12.2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DBBB20CEFE515C9B2C482074758248FA286E4A92</string>
						<key>dateExpires</key>
						<string>03.12.2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M8VAJHD5SP</string>
						<key>name</key>
						<string>Journey Technologies AS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M8VAJHD5SP.app.dev.journey.admin</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:admin.journeyapp.dev.scrij.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>M8VAJHD5SP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Journey Admin Staging.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>769328f0-2e56-4321-ad2a-64152493108e</string>
				<key>dateExpires</key>
				<string>03.12.2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: app.dev.journey.admin</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M8VAJHD5SP</string>
				<key>name</key>
				<string>Journey Technologies AS</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.27</string>
		</dict>
	</array>
</dict>
</plist>
